.text{
    font-size: medium;
    color: #FFFFFF;
    margin-bottom: 10px;
    font-weight: medium;
    line-height: 1.6;
    margin-top: 2px;
}
.inviteText{
    font-size: 15px;
    color: #ffffff;
    margin-bottom: 10px;
    font-weight: bold;
    margin-top: 10px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 6rem;
    background-color: #121212;
}

.link{
    color: #0077FF;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    font-size: 1.1rem;
    transition: ease;
    margin-left: 10px;
}